*{
    margin: 0px;
    padding: 0px;
}

.titulo{
    color:#000000;
    font-size: 45px;
    font-weight: 750;
}
.main {
    background-color: #69a4e9;
    border: 5px solid #000000;
}

.slider {
    transform: scale(1.3);
}

.sliderTitle{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.tituloPrincipal{
    display: flex;
}

.logoImage{
    width: 80px;
    height: 80px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #e29eb7 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }